*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav {

    display: flex;
    width: 87%;
    margin: 10px 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.menu{
    position: relative;
    width: 80%;
    height: 100vh;
}
.center{
    margin-left: 9%;
    margin-top: 19%;
}